<h2 class="nf-message">
  Sorry...
</h2>

<div class="nf-kage"><%= image_tag '４落ち込む男' %></div>

<div class="nf-note">
<h3>見つかりませんでした・・・</h3>


</div>
<%= render partial: "search-area"%>

<div class="to-top">
  <%= link_to 'トップに戻る', '/' %>
</div>


<%= render partial: "items/bottom"%>

