<div class="rule-area">
  <h2>利用規約について</h2>
  <P>当サイトのシルエットは個人、法人を問わずご利用いただけます。<br>利用は無料です。<br>商用可能です。<br>クレジット表記なども不要です。</P>
  <P>ただし、当サイトのシルエットを使用して販売物を作ることは禁止させていただきます。</P>
  <P>その他下記に該当するご利用はお断りします。</P>
  <P>公序良俗に反する目的での利用<br>攻撃的・差別的・性的・過激な利用<br>反社会的勢力や違法行為に関わる利用<br>シルエット自体をコンテンツ・商品として再配布・販売
  （LINEクリエイターズスタンプ等も含みます）<br>その他著作者が不適切と判断した場合
  </P>
  <P>ご不明点はお問い合わせください。</P>
  <h2>著作権について</h2>
  <P>当サイトのシルエットは無料でお使い頂けますが、著作権は放棄しておりません。</P>
  <P>素材は規約の範囲内であれば自由に編集や加工をすることができます。ただし加工の有無、または加工の多少で著作権の譲渡や移動はありません。</P>
  <h2>その他</h2>
  <P>シルエットイラスト（サンプルイラストを含む）以外で、当サイトに掲載されている画像などについては、利用不可能です。</P>
  <P>シルエットを利用することによって発生したトラブルについては一切責任を負いかねます。</P>
  <p>全ての規約は予告無く改変する場合があります。予めご了承下さい。</p>
</div>