<div class="plz-request"><h1>会員登録をして、カゲをリクエストしよう！</h1></div>
<div class="kage-request">
    <%= image_tag "kage-request" %>
    <h2>カゲリクエストとは？</h2>
    <h4>カゲにしてほしい写真を投稿して頂くと、カゲローラボがシルエット化しちゃいます！<br>
    または「こんなカゲが欲しい！」などの要望も送っていただけます！</h4>
    <p>ご利用に関する注意点</p>
        <ul>
            <li>制作期間は約１週間となります。完成後は、カゲローラボの新規素材としてアップされます。</li>
            <li>リクエスト完了後にリクエストされたユーザー様へメール連絡いたします。その後、制作の完了または不可が決まった時点で再度ご連絡差し上げます。</li>
            <li>リクエストに対しては、まずもってお応えできるように取り組みますが、必ず制作出来るわけではありません。不可と判断された場合、その旨をメールでご連絡いたします。また、制作できた場合においても、加工の都合等により、意図された素材と異なる場合がございます。</li>
            <li>制作が困難である理由以外に、公序良俗に反するような画像をアップロードされた場合なども制作は不可となります。</li>

        </ul>
</div>
<% if user_signed_in? %>
    <div class="registration-btn">
        <%= link_to "リクエスト", new_user_request_path(current_user.id) %>
    </div>
<% else %>
    <div class="registration-btn">
        <a href="/users/sign_up">会員登録</a>
    </div>
<% end %>