// Place all the styles related to the inquiries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.inquiry-header {
    width: 385px;
    margin: 70px auto 0px auto;
    text-align: center;
}

.request-content {
    // height: 500px;
    width: 90%;
    margin: 0 auto;
     display: flex;
    flex-wrap: wrap;
    margin-top: -50px;
    
}

.request-kage {
    width: 400px;
    height: 500px;
    
    margin: 0 0 0 10%;

}

.request-kage img {
    // object-fit: scale-down;
    

}

.inquiry-send {
 height:20px;
 width:50px;
 text-align: center;

 
}

.table {
     margin: 0 5%;
     height: 400px;
     padding-top: 70px;
   
}

.inquiry-area {
    width: 250px;
}

.main-form {
    height: 300px;
}

.inquiry-send {
    border:none;
    text-align: center;
    width:140px;
    height:45px;
    background-color: red;
    border-radius: 10px;
    color: white;
    text-decoration: none;    
    cursor:pointer;
    margin: 0px auto;
    font-size:17px;
}
.thanks-message {
    display: block;
    width: 500px;
    margin: 30px auto 0 auto;
    text-align: center;
    font-size: 40px;
}

.thanks-kage {
    width: 400px;
    height: 450px;
    margin: 10px auto;
}

.thanks-kage img {
    width: 400px;
    height: 400px;
     object-fit: scale-down;   
}
.note {
    width: 360px;
    margin: 0 auto;
    text-align: left;
}