.to-top{
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

.topimg {
    height :50%;
    width: 50%;
}

.item img{
 width: 100%;
 height: 100%;
 object-fit: scale-down;
}
.item img:hover {
    opacity: 0.7;
}

.item{

 width: 180px;
 height: 180px;
 padding: 20px 20px;
 margin: 10px 0px; 
 text-align: center;
}

.new {
    margin: 0px 0px;
    margin-top: -18px;
    font-size: 12px;
    color: red;
}

.item a {
 color: black;
 text-decoration: none;
} 

.item a:hover {
    opacity: 0.7;
}

.items-list{
    
    width: 90%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;  
    justify-content: flex-start;  
/*    今は繰り返しがないため、要素をただ並べている。上のjustify-content: flex-start; で右から並べているため、左に余白が生まれる模様。justify-content: space-between; を使えば、均等に幅を作れるが、要素の数で表示が変わる。*/
}

@media screen and (max-width: 426px){
.items-list{
    
    width: 60%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;  
    justify-content: flex-start;  
/*    今は繰り返しがないため、要素をただ並べている。上のjustify-content: flex-start; で右から並べているため、左に余白が生まれる模様。justify-content: space-between; を使えば、均等に幅を作れるが、要素の数で表示が変わる。*/
}
}





.show-more  {
    text-align: center;
    width:140px;
    height:40px;
    background-color: red;
    line-height: 40px;
    border-radius: 10px;
    margin: 50px auto;
}

.show-more:hover {
    opacity: 0.7;
}

.show-more a {
    
    color: white;
    text-decoration: none;
    display: block;
}



.art-lib{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between;    

}

.art {
    width: 40%;
    height :400px;
    margin: 0 50px;
   

}

.art-pic {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

footer{
    
    background-color:black;  
    width: 100%;
    color: white;


}

footer h1 {
    font-size: 35px;
 
    line-height: 120px;
    font-family: "Allerta Stencil";
    margin: 0px 120px 0px 40px;
    float: left;
}

footer a:hover {
    opacity: 0.8;
}

footer a {
    text-decoration: none;
    color: white;
}

.about {
    // height: 100px;
    
    line-height: 120px;
}


@media screen and (max-width: 1450px){
    .about {
 clear: both;
 text-align: left;
}
}


.about ul {
    margin-bottom :0px;
    background-color:black; 
    
    
}

.about li{
    list-style: none;
    display: inline-block;
    margin: 0px 15px 0px 15px;
}


.tgif {
   float: right;
    margin: 25px 40px 25px 40px;
    height : 70px;
}


.tgif img{
    height: 70px;
    width: 250px;
    border-radius: 10px;
}
.tgif img:hover {
    opacity: 0.7;
}


.twitter{
     float: right;
    margin: 25px 20px 25px 20px;
    height : 70px;
    
}

.twitter img {
    height: 70px;
    width: auto;
}

/*********** ここからスライドショー ***********/

.slick1{
    width: 100%;
    height: 490px;
    margin: 0px auto;
}

.slide-pic {
    width: 100%;
    height: 490px;
    
    object-fit: cover;
}



.slick-dots{
    z-index: 90;
    top:510px;
    color:red;
}



.prev-arrow,
.next-arrow {
    font-size:30px;
  position: absolute;
 
  top: 50%;
  margin: 0;
  padding: 0;
  line-height: 1;
//   -webkit-transform: translateY(-50%);
//   transform: translateY(-50%);
  cursor: pointer;
  font-weight: bold;
}

@media screen and (max-width: 426px){
.prev-arrow,
.next-arrow {
    font-size: 0px;
    position: absolute;
    top: 50%;
    margin: 0;
    padding: 0;
    display: none;
    line-height: 1;
    cursor: pointer;
    font-weight: bold;
}
}




.prev-arrow {
  left: 20px;
  z-index:100;
}




.next-arrow {
  right: 20px;
  z-index:100;
}




/*********** ここまで ***********/


/*********** ここからメインタイトル ***********/
header {
    height: 140px;
    background-color: black;
    color:white;
    text-align: center;
}

@media screen and (max-width: 426px){
header {
    height: 110px;
    background-color: black;
    color:white;
    text-align: center;
}
}


// .header-area {
//     text-align: center;
//     width: 100%;
//     height: 140px;
//     position :absolute;
//     top: 0px;

.header-pic {
    height: 130px;
    width: 80px;
    
}

.haeder-cat {
    width: 80px;
  
    margin-right: 20px;
        position: relative;
 
  

    position: absolute;
    top: 3%;
    left: 10%;
}

.title-box {
    display :inline-block;

  
}


.title-box h1{
   
    font-family: "Allerta Stencil";
    font-size:80px;
    text-align: center;
    text-shadow: 2px 2px black;
    margin: 0px auto;

}

@media screen and (max-width: 630px){
    .title-box h1{
    font-family: "Allerta Stencil";
    font-size: 12vw;
    text-align: center;
    text-shadow: 2px 2px black;
    margin: 0px auto;
    }
}

.title-box a {
    color:white;
    text-decoration: none;
}


.title-box h5 {
font-size: 20px;
text-align: center;
    margin: 0 auto;
    font-family: "Allerta Stencil";

}


/*********** ここまで ***********/


.select-row {
    width: 80%;
    height: 100px;
    margin: 0 auto;
}

@media screen and (max-width: 425px){
     .select-row {
    display: none;
    width: auto;
    height: 100px;
    margin: 0 auto;
}
}



.select-row li{
    list-style: none;
    float:left;
    margin: 10px 10px
}


// .item-title a{
//     text-align: center;
//     font-size :14px;
// }
.slick2 {
    
    left: 0;
    right: 0;
    top: 25%;
    width: 100%;
    height: 240px;
    margin: 0px auto;
    position: absolute;
}



.top-kage {
    // width: auto;
    max-width: 100%;
    height: 450px;
    margin: auto;
}

.message-area {
    position: absolute;
    width: 45%;
    top: 60%;
    left: 33%;
}


.top-message {
    background-color:black;
    height: auto;
    color: white;
    line-height: 50px;
    text-align: center;
}

.transform {
    // float: right;
    padding: 33px 0px;
    // margin-right : 14vw;
    
        /* float: right; */
    // padding: 0px 0px 33px 0px;
    /* margin: 0 auto; */
    /* text-align: center; */
    width: 80px;
    margin: 0 auto;
}

@media screen and (max-width: 630px){
    .transform {
    padding: 33px 0px;
    /* margin: 0 auto; */
    /* text-align: center; */
    width: 80px;
    margin: 0 auto;
}
}

.top-message h2 {
    width: 900px;
    margin: 0 auto;
    // font-size:2vw;
    margin-top :0px;
    margin-bottom :0px;
    padding-top: 30px;
    font-family: "Allerta Stencil";
}
@media screen and (max-width: 1070px){
    .top-message h2 {
    width: auto;
    margin: 0 auto;
    // font-size: 5vw;
    margin-top :0px;
    margin-bottom :0px;
    padding-top: 30px;
    font-family: "Allerta Stencil";
}
}

.sub-message-area {
    margin: 0px auto;
    background-image: url("silver-back");
    background-size:cover;
    height: 350px;
    
}
.sub-message {
    height: 100px;
    // width: 90%;
    
    margin: 0 auto;
     padding-top: 7px;
     padding-bottom: 5px;
    //  text-align: center;
}

@media screen and (min-width: 700px){
    .sub-message {
    height: 100px;
    width: 500px;
    margin: 0 auto;
     padding-top: 7px;
     padding-bottom: 5px;
    //  text-align: center;
}
}



.sub-message img {
    height: 100px;
    float: left;
    margin-right: 10px;
}
.sen {
    // line-height: 100px;
    margin: 0px auto;
    font-size: 20px;
    margin-top : 25px;
    font-family: "Allerta Stencil";
}

@media screen and (max-width: 426px){
.sen {
    // line-height: 100px;
    margin: 0px auto;
    font-size: 15px;
    margin-top : 25px;
    font-family: "Allerta Stencil";
}
}





@media screen and (max-width: 426px){
.next-sen {
    margin-top: 0px;
    font-size: 15px;
    
}

}






@media screen and (max-width: 700px){
    .sub-message h3 {
    // font-size: 2vw;
    line-height: 100px;
    margin: 0px auto;
}
}


.final-message {
    background-color:black;
    height: 90px;
    color:white;
    line-height: 90px;
    text-align: center;
}

.final-message h4 {
    font-size:30px;
    margin-top :0px;
    margin-bottom :0px;
    font-family: "Allerta Stencil";
    
}




.lets-search {
    margin: 30px auto 30px auto;
    width: 400px;
    display: flex;
    flex: wrap;
}

@media screen and (max-width: 500px){
     .lets-search {
    margin: 30px 5px 30px 5px;
    width: auto;
    
}
}





.search-field {
    // display:inline-black;
    width: 260px;
    float: left;
    height:40px;
    text-align: center;

}


.search-btn {
    display: block;
    border: 1px red solid;
    text-align: center;
    width:140px;
    height:45px;
    background-color: red;
    line-height: 40px;
    border-radius: 10px;
    color: white;
    text-decoration: none;    
    cursor: pointer;
    margin-left: 20px;
    font-size: 17px;
}

.search-btn:hover {
    opacity: 0.7;
}
 
.search-btn a{
    
    color: white;
    text-decoration: none;
    // display: inline-block;
    // float:left;
}

.hidden-search-field {
    display:none;
}
    
    
.tag-search-btn{
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

@media screen and (max-width: 500px){
.tag-search-btn{
    display: none;
}
}


.tag-search-btn:hover {
    opacity: 0.7;
}

.dl_item {
    width: 550px;
    height: 610px;
    display: flex;
    justify-content: center;
    float: left;
    margin: 0px 20px;
     border: 6px solid black;
     border-radius: 10px;
    // border: 1px solid ;
    // object-fit: scale-down;
    // 下の２つで真ん中へ表示    
    display: flex;
    justify-content: center;
    
}

@media screen and (max-width: 800px){
.dl_item {
    width: auto;
    height: 610px;
    display: flex;
    justify-content: center;
    float: left;
    margin: 0px 30px;
     border: 6px solid black;
     border-radius: 10px;
    // border: 1px solid ;
    // object-fit: scale-down;
    // 下の２つで真ん中へ表示    
    display: flex;
    justify-content: center;
    
}
}




.dl_item img {
    // 以下の5つで枠内にリサイズ
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down
}

.detail {
    
    max-height: 700px;
    width: 300px;
    float: right;
    margin: 0px 0px 0px 20px;
    padding: 15px 15px;
    border-radius: 10px;
    // border: 6px solid black;
    background-color: 	#e8e8e8	;
    // color: white;
}

@media screen and (max-width: 1370px){
.detail {
    
    max-height: 700px;
    width: 550px;
    float: left;
    margin: 50px 20px 50px 20px;
    padding: 15px 15px;
    border-radius: 10px;
    background-color: #e8e8e8;

}
}



@media screen and (max-width: 800px){
     .detail {
    max-height: 700px;
    width: auto;
    margin: 50px 30px 50px 30px;
    padding: 15px 15px;
    border-radius: 10px;
    // border: 6px solid black;
    background-color: 	#e8e8e8	;
    // color: white;
    float: left;
}
}




.share {
    margin-top: 35px;
}
.twitter-share-button{
   float: right;
}

.load-twitter-share-button {
    display: none;
}
.content {
    width: 70%;
    height: 700px;
    margin: 30px auto;
}

.content h3  {
    font-family: 'Meiryo', sans-serif;
}

.content p {
    font-family: 'Meiryo', sans-serif;
}

@media screen and (max-width: 800px){
.content {
    width: 100%;
    height: 700px;
    margin: 30px auto;
}
}





.dl_tag {

    max-width: 700px;
    height: auto;
    float: left;
    // text-align: center;
/*    background-color: darkcyan;*/
}

.dl_tag ul{
    list-style: none;
    padding-left: 0px;
}
.tag {
    display: inline;
    float: left;
    background-color: 	#e8e8e8	;
}

.tag-hidden {
    display: none;
}
.tag-search-btn2 {
    background-color: 	#e8e8e8	;
    border: none;
    cursor: pointer;
    font-size: 18px;
    display: inline;
    color: #4d5aaf;
    margin-left: 14px;
}

.tag-search-btn2:hover {
    opacity: 0.7;
}

.maketag-area {
    float: none;
    margin-top: 10px;
}

.maketag-area p {
    font-weight: bold;
    float: left;
}
.down-arrow {
    width: 30px;
    margin: 0 auto;
}

.fa-angle-double-down {
    font-size: 40px;
    text-align: center;
}
.maketag-form {
    display: block;
    width: 250px;
    margin: 0 auto;
    height: 30px;
    border: 1px solid blue;
    margin-bottom: 20px;
}

.alert-message {

    color :red;
}

.maketag-btn {
    display: block;
    border:none;
    text-align: center;
    width: 100px;
    margin : 0 auto;
    height: 30px;
    background-color: red;
    line-height: 30px;
    border-radius: 10px;
    color: white;
    text-decoration: none;    
    cursor:pointer;
    font-size:17px;
}

.maketag-btn:hover {
    opacity: 0.7;
}

.dl_title {
    font-size: 20px;
    text-align: center;
}

footer {
    clear: both;
}
.dl_button {
    
    border:none;
    text-align: center;
    width:140px;
    height:45px;
    background-color: red;
    
    border-radius: 10px;
    color: white;
    text-decoration: none;    
    cursor:pointer;
    margin: 40px auto;
    font-size:17px;
}

.dl_button a{
    text-decoration: none; 
    color: white;
    line-height: 45px;
    display: block;
}
.dl_button:hover {
    opacity: 0.7;
}
.dl_info {
    font-size: 10px;
    width: 200px;
    margin: 0 auto;
}


body {
    margin: 0px 0px;
}

.nf-message {
    display: block;
    width: 500px;
    margin: 30px auto 30px auto;
    text-align: center;
    font-size: 40px;
}

.nf-kage {
    width: 400px;
    height: 300px;
    margin: 10px auto;
}

.nf-kage img {
    // width: 400px;
    // height: 400px;
     object-fit: scale-down;   
}

.nf-note {
    width: 360px;
    margin: 0 auto;
    text-align: center;
}

.plz-request{
    display: block;
    width: 380px;
    margin: 80px auto 0px auto;
}

.rule-area {
    width: 60vw;
    margin: 60px auto;
}