.to-top{
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

.topimg {
    height : 50%;
    width: 50%;
}

.item img{
 width: 100%;
 height: 100%;
 object-fit: scale-down;
}

.item img:hover {
    opacity: 0.7;
}

.item{

 width: 180px;
 height: 180px;
 padding: 20px 20px;
 margin: 10px 0px; 
 text-align: center;
}

.new {
    margin-top: -23px;
    margin-bottom : 3px;
    font-size: 15px;
    color: red;
}

.item a {
 color: black;
 text-decoration: none;
} 

.item a:hover {
    opacity: 0.7;
}

.items-list{
    width: 90%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;  
}

@media screen and (max-width: 426px){
.items-list{
    width: 60%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;  
}
}

.show-more  {
    text-align: center;
    width: 140px;
    height: 40px;
    background-color: red;
    line-height: 40px;
    border-radius: 10px;
    margin: 50px auto;
    display: block;
}

.show-more:hover {
    opacity: 0.7;
}

.show-more a {
    color: white;
    text-decoration: none;
    display: block;
}

.art-lib{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between;    
}

.art {
    width: 40%;
    height : 400px;
    margin: 0 50px;
}

.art-pic {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

footer{
    background-color:black;  
    width: 100%;
    color: white;
}

footer h1 {
    font-size: 35px;
    line-height: 120px;
    font-family: "Allerta Stencil";
    margin: 0px 120px 0px 40px;
    float: left;
}

footer a:hover {
    opacity: 0.8;
}

footer a {
    text-decoration: none;
    color: white;
}

.about {
    line-height: 120px;
}

@media screen and (max-width: 1450px){
    .about {
 clear: both;
 text-align: left;
}
}

.about ul {
    margin-bottom :0px;
    background-color:black; 
}

.about li{
    list-style: none;
    display: inline-block;
    margin: 0px 15px 0px 15px;
}

.tgif {
    float: right;
    margin: 25px 40px 25px 40px;
    height : 70px;
}

.tgif img{
    height: 70px;
    width: 250px;
    border-radius: 10px;
}
.tgif img:hover {
    opacity: 0.7;
}

.twitter{
    float: right;
    margin: 25px 20px 25px 20px;
    height : 70px;
}

.twitter img {
    height: 70px;
    width: auto;
}
/*********** ここからスライドショー ***********/
.slick1{
    width: 100%;
    height: 490px;
    margin: 0px auto;
}

.slide-pic {
    width: 100%;
    height: 490px;
    object-fit: cover;
}
.slick-dots{
    z-index: 90;
    top: 510px;
    color: red;
}
.prev-arrow {
  left: 50px;
  z-index: 100;
}

.next-arrow {
  right: 50px;
  z-index: 100;
}
.prev-arrow,
.next-arrow {
  font-size: 30px;
  position: absolute;
  height: 200px;
  top: 50%;
  margin: 0;
  padding: 0;
  line-height: 1;
  cursor: pointer;
  font-weight: bold;
}

@media screen and (max-width: 426px){
.prev-arrow,
.next-arrow {
    display: none !important;
}
}
/*********** スライドショーはここまで ***********/

/*********** ここからメインタイトル ***********/
header {
    height: 180px;
    background-color: black;
    color:white;
    text-align: center;
}

@media screen and (max-width: 426px){
header {
    height: 140px;
    background-color: black;
    color: white;
    text-align: center;
}
}

.header-pic {
    height: 130px;
    width: 80px;
}

.title-box {
    display :inline-block;
    width: 100%;
}
.check_in_menu {
    float: right;
    display: flex;
}

.sign_out {
    margin: 10px 0px 0px 0px;
    width: 100px;
    display: block;
    text-align: center;
    border: 2px white solid;
    height: 26px;
    line-height: 28px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.sign_out:hover {
    opacity: 0.7;
}

.sign_out a {
    text-decoration: none;
    color: white;    
    display: block;
}

.user-name{
    margin-bottom: 0px;
    font-size: 14px;
    margin-bottom: 0px;
    text-align: end;
    height: 30px;
}
.check-in {
    margin: 10px 10px 0px 10px;
    height: 30px;
    width: 100px;
    line-height: 32px;
    display: block;
    text-align: center;
    background-color: #FF0000;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.check-in a {
    text-decoration: none;
    color: white;
    display: block;
}

.check-in:hover {
    opacity: 0.7;
}

.title-box h1{
    font-family: "Allerta Stencil";
    font-size:80px;
    text-align: center;
    text-shadow: 2px 2px black;
    margin: 0px auto;
}

@media screen and (max-width: 630px){
    .title-box h1{
    font-family: "Allerta Stencil";
    font-size: 12vw;
    text-align: center;
    text-shadow: 2px 2px black;
    margin: 0px auto;
    }
}

.title-box a {
    color:white;
    text-decoration: none;
}


.title-box h5 {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    font-family: "Allerta Stencil";

}
/*********** メインタイトルはここまで ***********/

.select-row {
    width: 84%;
    margin: 30px auto;
    text-align: center;
    display: flex;
}
.select-row p {
    font-size: small;
}

.fixed-tag-title {
    font-size: xx-large;
}

@media screen and (max-width: 426px){
     .select-row {
    display: none;
    width: auto;
    height: 100px;
    margin: 0 auto;
}
}

.select-row li{
    list-style: none;
    float: left;
    margin: 10px 10px
}

.slick2 {
    left: 0;
    right: 0;
    top: 27%;
    width: 100%;
    height: auto;
    margin: 0px auto;
    position: absolute;
}

.top-kage {
    max-width: 100%;
    height: 450px;
    margin: auto;
    padding-top: 20px;
}

@media screen and (max-width: 426px){
.couple-kage {
    max-width: 100%;
    height: auto; 
    margin: auto;
    padding-top: 120px; 
}
}

.message-area {
    position: absolute;
    width: 45%;
    top: 60%;
    left: 33%;
}

.top-message {
    background-color: black;
    height: auto;
    color: white;
    padding-top: 20px;
    text-align: center;
}

.transform {
    padding: 40px 0px 0px 0px; 
    margin: 0 auto;
    background-color: black;
}

.top-message h2 {
    width: 900px;
    margin: 0 auto;
    margin-top :0px;
    margin-bottom :0px;
    font-family: "Allerta Stencil";
}
@media screen and (max-width: 1070px){
    .top-message h2 {
    width: auto;
    margin: 0 auto;
    margin-top :0px;
    margin-bottom :0px;
    font-family: "Allerta Stencil";
}
}

.before-after{
    padding: 30px 10px 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.before-message h3{
    text-align: center;
}

.before-pic{
    height :160px;
}

.before{
    margin-right: 35px;
}
.after {
    margin-left: 35px;
}

.after-pic{
    height :200px;
}

.after-message h3 {
    font-size: xx-large;
}

@media screen and (max-width: 769px){
    .after{
    margin-left: 0px;
    }
}

@media screen and (max-width: 769px){
    .before{
    margin-right: 0px;
    }
}

.sub-message-area {
    margin: 0px auto;
    background-image: url("silver-back");
    background-size:cover;
}
.sub-message {
    height: 100px;
    margin: 0 auto;
     padding-top: 7px;
     padding-bottom: 5px;
}

@media screen and (min-width: 700px){
    .sub-message {
    height: 100px;
    width: 500px;
    margin: 0 auto;
     padding-top: 7px;
     padding-bottom: 5px;
    }
}

.sub-message img {
    height: 100px;
    float: left;
    margin-right: 10px;
}
.sen {
    margin: 0px auto;
    font-size: 20px;
    margin-top : 25px;
    font-family: "Allerta Stencil";
}

@media screen and (max-width: 426px){
    .sen {
    margin: 0px auto;
    font-size: 15px;
    margin-top : 25px;
    font-family: "Allerta Stencil";
    }
}

.next-sen {
    margin-top: 0px;
    font-size: 20px;
}

@media screen and (max-width: 426px){
    .next-sen {
        margin-top: 0px;
        font-size: 15px;
    }
}

@media screen and (max-width: 700px){
    .sub-message h3 {
    line-height: 100px;
    margin: 0px auto;
    }
}

.final-message {
    background-color: black;
    height: 90px;
    color: white;
    line-height: 90px;
    text-align: center;
}

.final-message h4 {
    font-size:30px;
    margin-top :0px;
    margin-bottom :0px;
    font-family: "Allerta Stencil";
    
}

.lets-search {
    margin: 30px auto 30px auto;
    width: 400px;
    display: flex;
    flex: wrap;
}

@media screen and (max-width: 500px){
     .lets-search {
    margin: 30px 5px 30px 5px;
    width: auto;
    }
}

.search-area {
    clear: both;
    margin: 0px 0px;
}

.search-field {
    width: 260px;
    float: left;
    height:40px;
    text-align: center;
}

.search-btn {
    display: block;
    border: 0px #FF0000 solid;
    text-align: center;
    width: 140px;
    height: 45px;
    background-color: #FF0000;
    line-height: 40px;
    border-radius: 10px;
    color: white;
    text-decoration: none;    
    cursor: pointer;
    margin-left: 20px;
    font-size: 17px;
}

.search-btn:hover {
    opacity: 0.7;
}

.hidden-search-field {
    display:none;
}
    
.tag-search-btn{
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

@media screen and (max-width: 500px){
    .tag-search-btn{
        display: none;
    }
}

.tag-search-btn:hover {
    opacity: 0.7;
}

.dl_item {
    width: 550px;
    height: 610px;
    display: flex;
    justify-content: flex-start;
    float: left;
    margin: 0px 20px;
     border: 6px solid black;
     border-radius: 10px;
    display: flex;
    justify-content: center;
    
}

@media screen and (max-width: 800px){
    .dl_item {
        width: auto;
        height: 610px;
        display: flex;
        justify-content: flex-start;
        float: left;
        margin: 0px 30px;
         border: 6px solid black;
         border-radius: 10px;
    }
}


.dl_item img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down
}

.detail {
    max-height: 700px;
    width: 300px;
    float: right;
    margin: 0px 0px 0px 20px;
    padding: 15px 15px;
    border-radius: 10px;
    background-color: 	#e8e8e8	;
}

@media screen and (max-width: 1370px){
.detail {
    max-height: 700px;
    width: 550px;
    float: left;
    margin: 50px 20px 50px 20px;
    padding: 15px 15px;
    border-radius: 10px;
    background-color: #e8e8e8;
    }
}



@media screen and (max-width: 800px){
     .detail {
    max-height: 700px;
    width: auto;
    margin: 50px 30px 50px 30px;
    padding: 15px 15px;
    border-radius: 10px;
    background-color: 	#e8e8e8	;
    float: left;
    }
}


.share {
    margin-top: 35px;
}
.twitter-share-button{
   float: right;
}

.load-twitter-share-button {
    display: none;
}
.content {
    width: 70%;
    height: 700px;
    margin: 30px auto 0px auto;
}

.content h3  {
    font-family: 'Meiryo', sans-serif;
    text-align: center;
}

.content p {
    font-family: 'Meiryo', sans-serif;
}

@media screen and (max-width: 800px){
    .content {
        width: 100%;
        height: 700px;
        margin: 30px auto 0px auto;
    }
}

.all_tags_show {
    display: table;
    clear: both;
    width: 80%;
    background-color: #e8e8e8;
    margin: 0 auto;
    border-radius: 10px;
}


.dl_tag {
    max-width: 700px;
    height: auto;
    display: flex;
}

.dl_tag ul{
    list-style: none;
    padding-left: 0px;
}
.tag {
    display: inline;
    float: left;
    background-color: #e8e8e8;
}

.tag-hidden {
    display: none;
}
.tag-search-btn2 {
    background-color: #e8e8e8;
    border: none;
    cursor: pointer;
    font-size: 18px;
    display: inline;
    color: #4d5aaf;
    margin-left: 14px;
}

.tag-search-btn2:hover {
    opacity: 0.7;
}

.maketag-area {
    float: none;
}

.maketag-area p {
    font-weight: bold;
    text-align: center;
}
.down-arrow {
    width: 30px;
    margin: 0 auto;
}

.fa-angle-double-down {
    font-size: 40px;
    text-align: center;
}
.maketag-form {
    display: block;
    width: 250px;
    margin: 0 auto;
    height: 30px;
    border: 1px solid blue;
    margin-bottom: 20px;
}

.alert-message {
    color :red;
}

.result-message {
    color : red;
    font-size: 20px;
    width: 200px;
    margin: 0px auto;
}
.request-row {
    width: 80%;
    margin: 10px auto;
    text-align: center;
}

.r-histroy-table {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.r-item {
    width: 220px;
    height: 220px;
    padding: 20px 20px;
    margin: 10px 0px;
}

.r-item img{
    width: 50%;
    height: 50%;
    object-fit: scale-down;
}

.r-status {
    margin: 0px auto;
}
.delete_btn{
    float: left;
}

.request_label {
    font-weight: bold;
    font-size: 20px;
}
.request-limit {
    text-align: center;
}

.request-section-name{
    margin-left: 20px;
}

.account-setting {
    text-align: center;
    width: 300px;
    margin: 0px auto 0px auto;
    
}
.request-field {
    margin: 40px auto;
}

.file_attached_failed {
    color: red;
}

.text-ff {
    margin-top: 10px;
    height: 200px;
    width: 400px;
}

.name-ff {
    width: 400px;
    margin-top: 10px;
}

.image-ff {
    margin-top: 10px;
}

#error_explanation {
    color :red;
}

.maketag-btn {
    display: block;
    border:none;
    text-align: center;
    width: 100px;
    margin : 0 auto;
    height: 30px;
    background-color: red;
    line-height: 30px;
    border-radius: 10px;
    color: white;
    text-decoration: none;    
    cursor: pointer;
    font-size: 17px;
}

.maketag-btn:hover {
    opacity: 0.7;
}

.dl_title {
    font-size: 20px;
    text-align: center;
}

footer {
    clear: both;
}
.dl_button {
    
    border: none;
    text-align: center;
    width: 140px;
    background-color: red;
    border-radius: 10px;
    color: white;
    text-decoration: none;    
    cursor: pointer;
    margin: 40px auto;
    font-size: 17px;
}

.dl_button a{
    text-decoration: none; 
    color: white;
    line-height: 45px;
    display: block;
}
.dl_button:hover {
    opacity: 0.7;
}
.dl_info {
    font-size: 10px;
    width: 200px;
    margin: 0 auto;
}


body {
    margin: 0px 0px;
}

.nf-message {
    text-align: center;
    font-size: 40px;
}

.nf-kage {
    width: 350px;
    height: auto;
    margin: 30px auto;
}

.nf-kage img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;
}

.nf-note {
    text-align: center;
}

.plz-request{
    text-align: center;
    margin-top: 100px;
    clear: both;
}

.rule-area {
    width: 60vw;
    margin: 60px auto;
}

.to_admin{
    text-align: center;
}

.manegement_kage_data {
    height: 200px;
}

.fixed_tag_apply {
    margin: 10px 10px;
    padding: 10px 10px;
    height: auto;
    display: flex;
    border: 2px solid black;
}
.fixed_tag_apply p {
    margin: 0px 0px;
}

.fixed_tag_group {
    margin: 10px 10px; 
}

.free_tag_apply {
    width: 400px;
    margin: 30px 0px 20px 20px ;
}

.adopt_tag_list{
    height: 200px;
    width: 90%;
    padding: 10px 10px;
    border: 2px solid black;
    margin: 10px 10px;
    word-wrap: break-word;
    display: flex;
    flex-flow: wrap;
}

.suggest_tag_list{
    height: auto;
    border: 2px solid black;
    width: 90%;
    padding: 10px 10px;
    margin: 10px 10px;
    display: flex;
    flex-flow: wrap;
}

.devise-wrap {
    margin: 50px auto;
    width: 400px;
    text-align: center;
}

.registration_note {
    text-align: left;
}

.resign {
    margin-top: 100px;
}

.field {
    margin: 20px 0px;
}

input[type="email"] {
        width: 300px;
    }

.data_list {
    width: 80%;
    word-wrap: break-word;
}

.data_list ul {
    margin: 50px 0px;
}

.data_list_image {
    width: 100px;
    height: 100px;
    padding: 20px 20px;
    margin: 10px 0px;
    text-align: center;
}

.data_list_image img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.adopt_tag_row {
    float: left;
    list-style: none;
}

.kage-request {
    text-align: center;
    margin: 0px 10px;
}

.kage-request img{
    max-width: 80%;
    height: auto;
}

.kage-request ul {
    text-align: left;
    width: 60%;
    margin: 0px auto;
    list-style: none;
}

.kage-request li {
    margin: 10px 0px;
}

@media screen and (max-width: 426px){
    .kage-request img {
        max-width: 100%;
        height: auto;
    }
}

.registration-btn  {
    text-align: center;
    width: 140px;
    height: 40px;
    background-color: red;
    line-height: 40px;
    border-radius: 10px;
    margin: 50px auto;
    display: block;
}

.registration-btn:hover {
    opacity: 0.7;
}

.registration-btn a {
    color: white;
    text-decoration: none;
    display: block;
}

.inquiry-send{
    margin-bottom : 50px;
}

.not_ready{
    background-color: #FFABCE;
    color: white;
}
.not_ready a{
    color: white;
}

.request-hr {
    margin: 40px 0px;
}

.requested_image {
    border: 1px solid black;
    width: 600px;
    height: 600px;
    margin: 20px 20px;
}

.requested_image img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}