<h2 class="thanks-message">
  Thanks man !!
</h2>

<div class="thanks-kage"><%= image_tag "グーサインする男" %></div>

<div class="note">
    <p>※ ご返信までお時間を頂く場合がございます。</p>
    <p>※ 内容によってはご返信しかねます。</p>
</div>

<div class="to-top">
  <%= link_to "トップに戻る", "/" %>
</div>